.sidebar-items {
  background-color: #2b3445;
  border-radius: 0px;
  padding: 5px 18px 18px 18px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  .header-sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 6px;
    width: 246px;
    margin-bottom: 20px;
    user-select: none;

    .logo {
      height: 56px;
      width: 84px;
      padding-top: 4px;
      transition: all 0.3s ease;
    }
    .miniLogo {
      transition: all 0.3s ease;

      margin-top: 10px;
      margin-right: 18px;
      height: 48px;
      width: 48px;
    }
    .animate_icon {
      transform: rotate(180deg);
    }
    .icon {
      position: relative;
      cursor: pointer;
      margin-top: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      transition: 0.3s ease-in; /* Add transition */

      .rightIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 20px;
        width: 20px;
        transform: translate(-58%, -59%);
        transition: fill 0.2s ease-in-out; /* Add transition */
        fill: rgba(255, 255, 255, 0.6);
      }

      &:hover {
        background: #a9a9a916;
        .rightIcon {
          fill: white; /* Change fill color on hover */
        }
      }
    }
  }
  .hidden-admin {
    opacity: 0;
    transition: 0.1s ease-in;
  }
  .admin {
    text-transform: uppercase;
    color: #fff;
    font-size: 0.7rem;
    margin-left: 15px;
    transition: 0.1s ease-in;
  }

  .item {
    user-select: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;

    .item-left {
      display: hidden;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 15px;
      height: 44px;
      padding: 12px 15px 8px 15px;
      border-radius: 8px;
      cursor: pointer;
      display: flex;
      align-items: center;
      flex: 1;
      overflow: hidden;
      .hidden {
        display: hidden !important;
      }
      .item-label {
        display: hidden !important;
        color: #fff;
        font-weight: 300 !important;
        font-size: 14px !important;
      }
    }
    .rotate-expendIcon {
      transform: rotate(90deg);
      transition: 0.1s ease;
    }
    .hidden-icon {
      fill: transparent;
    }
    .expendIcon {
      fill: white;
      height: 20px;
      width: 20px;
      transition: 0.1s ease;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .icon_color {
      color: #4f68c7;
      padding-bottom: 3px;
    }

    &:hover {
      background-color: #323a4c;
      color: rgb(78, 151, 253);

      .icon_color {
        color: white;
      }
    }
  }

  .children_expanded {
    height: 132px;
    overflow: hidden;
    transition: all 0.4s ease;
    .active-child {
      background-color: #323a4c;
      color: rgb(78, 151, 253);
      transition: 0.2s ease;
    }

    .child-item {
      .icon-child-active {
        display: flex;
        transition: 0.2s ease;
        justify-content: space-between;
        height: 3px;
        position: relative;
        font-size: 14px !important;
        width: 3px;
        background-color: rgb(78, 151, 253);
        border-radius: 50%;
        &::after {
          transition: 0.2s ease;
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-56%, -46%);
          height: 11px;
          width: 11px;
          border-radius: 40%;
          background-color: rgba(76, 128, 200, 0.231);
        }
      }
      .child-label {
        font-size: 14px;
      }
      .icon-child {
        height: 3px;
        width: 3px;
        background-color: white;
        border-radius: 50%;
        transition: 0.1s ease;
      }
      transition: all 0.2s ease;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 24px;
      height: 44px;
      color: #fff;
      padding: 12px 15px 8px 15px;
      padding-left: 24px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 14px !important;
      font-weight: 300 !important;
      display: flex;
      align-items: center;
      overflow: hidden;
    }
  }
  .children {
    height: 0;
    transition: all 0.2s ease;
  }
  .active {
    background-color: #323a4c;
    color: rgb(78, 151, 253) !important;
    transition: 0.2s ease;

    &:hover {
      background-color: #323a4c;
      color: white;

      .icon_color {
        color: white;
      }
    }

    .icon_color {
      color: white;
    }
  }

  .link-icon-stroke-color {
    stroke: none;
    path {
      &:first-child {
        fill: rgb(149, 159, 163);
      }

      &:last-child {
        fill: rgb(249, 249, 249);
      }
    }
  }

  .link-icon-stroke-color-active {
    stroke: none;
    path {
      &:first-child {
        fill: rgb(13, 150, 213);
      }
      &:last-child {
        fill: rgb(226, 227, 229);
      }
    }
  }
}
