.address-title-bar {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  p {
    font-size: inherit;
    font-weight: inherit;
  }
  .icons {
    display: flex;
    // gap: 8px;
    // .icon {
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   width: 28px;
    //   height: 28px;
    //   border-radius: 100px;
    //   transition: all 0.3s ease-in-out;
    // }
    // .icon:hover {
    //   background-color: #eee;
    // }
    .delete-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      border-radius: 100px;
      transition: all 0.3s ease-in-out;
    }
    .delete-icon:hover {
      background-color: #f5f2f6;
    }
  }
}
