.section {
  padding: 24px;
  margin: 0 0 24px;
  max-width: 980px;
  width: 100%;
  height: fit-content;
  background-color: #fff;
  border-radius: 8px;
  color: rgb(43, 52, 69);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
  overflow: hidden;
}
