# true or false
SKIP_PREFLIGHT_CHECK=
# dev or prod
VITE_APP_BASE_NODE_ENV=
# true or false
VITE_APP_ENABLE_REDUX_DEVTOOLS=
# default is `./`
VITE_APP_DIST_LOCATION=

#Look Microsof Teams
VITE_APP_AUTH_URL=
#Look Microsof Teams
VITE_APP_BASE_URL=


#VITE_APP_AUTH_URL="https://c5c6-196-203-25-82.ngrok-free.app/v1/"
#VITE_APP_BASE_URL="http://192.168.3.55:3001/v1/"

#VITE_APP_AUTH_URL="https://softyshopapi.lissene.dev/v1/"
#VITE_APP_BASE_URL="https://softyshopapi.lissene.dev/v1/"
 