.container_input {
  width: 450px;
  height: 40px;
  background: transparent;
  display: flex;
  justify-content: baseline;
  align-items: center;
  border-radius: 0;
  gap: 8px;
  border-right: 1px solid #dae1e7;
  .search_input {
    text-indent: 10px;
    width: 100%;
    color: #a7abb4;
    font-weight: 300;
    font-size: 16px;
    background: transparent;
    &::placeholder {
      color: #a7abb4;
      font-size: 16px;
      font-weight: 300;
    }
  }
}
