.sidebar {
  background-color: #fff;
  width: 352px;
  padding: 18px 27px;
  min-height: 396px;
  height: fit-content;
  max-height: fit-content;
  color: #2b3445;
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(3, 0, 71, 0.09);
  overflow: hidden;
  border-radius: 8px;
  padding-bottom: 1.5rem;
  .list {
    list-style: none;
  }
  .sidebar-chunk {
    padding-bottom: 24px;
    border-bottom: #f3f5f9 1px solid;
    .sidebar-chunk-title {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .categories-list {
      display: flex;
      flex-direction: column;
      font-weight: 300;
      color: #7d879c;
      gap: 14px;
      li {
        color: inherit;
        a {
          color: inherit;
        }
      }
    }
    input {
      border: #cbcbcb 1px solid;
      border-radius: 6px;
      text-indent: 10px;
      height: 38px;
      width: 135px;
      padding-right: 15px;
    }
    input::placeholder {
      color: #cbcbcb;
    }
    input:hover {
      border: black 1px solid;
    }
    input:focus {
      border: #d23e57 2px solid;
    }
  }
  .price {
    .price-body {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
  .colors-chunk {
    border: none;
    .colors {
      display: flex;
      gap: 8px;

      .color {
        width: 25px;
        height: 25px;
        border-radius: 50px;
        cursor: pointer;
      }
      .black {
        background-color: black;
      }
      .red {
        background-color: #f47b7b;
      }
      .orange {
        background-color: #f9c673;
      }
      .green {
        background-color: #84ffb5;
      }
      .aqua {
        background-color: #70f6ff;
      }
      .purple {
        background-color: #6b7aff;
      }
    }
  }
}
