.sidebar {
  background-color: #fff;
  width: 352px;
  padding: 18px 27px;
  min-height: 396px;
  height: max-content;
  max-height: fit-content;
  color: #2b3445;
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(3, 0, 71, 0.09);
  overflow: hidden;
  border-radius: 8px;
  padding-bottom: 1.5rem;
}
